@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,500;1,600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap");

* {
  /* font-family: 'Inter', sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: 'Roboto Condensed', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainContainer{
  display: flex;
  width: auto;
  height: 100vh;
  flex-direction: row;  
  align-items: center;
  justify-content: center;
}
.TodoApp{
  display: flex;
  flex-direction: column;
  width: 33.333vw;
 
  align-items: center;
  justify-content: center;
  
  height: 90vh;
  margin: 5vh 0;
}
form{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 16px;
  padding-bottom: 16px;
 
  justify-content: center;

}
.formLeftContainer{
  border-top: 1px solid black;
    margin-top: 14px;
    padding-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.formRightContainer{
  height: 0px;
  cursor: pointer;
  scale: 1.5;
}