/* <div className='container'>
<div className='title'>Complete this app</div>
<div className='desc'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laudantium est explicabo modi facere laborum? Assumenda.</div>
</div> */

.container{
    display: flex;
    flex-direction: column;
    text-align: left;
    word-wrap: normal;
    width: 35rem;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
}
.title{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 6px;
    margin-bottom: 4px;
    
}

.workTitleContainer{
    border-bottom: 1px solid black;
     display: flex; 
    align-items: center;
    justify-content: space-between;
}
#editIcn{
    cursor: pointer;
    scale: 1.1;
}
.icons{
    display: flex;
    gap: 0.6rem;
}
.descModel{
    font-size: 14px;
}