.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  word-wrap: normal;
  width: 32rem;
  margin-bottom: 10px;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
}
@media screen and (max-width: 540px) {
  .container {
    width: 20rem;
    margin: 0;
  }
  
  /* #formEditALL{
    padding: 12px 8px;
  } */
  
  #formEdit {
    border: none;
  }
  #addNewForm{
    margin: 15px 0;
   
    width: 20rem;
  }
}


#taskBTN {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 12px;
  width: 105px;
  transition: all 0.35s ease-in-out;
}
#taskBTN:hover {
  background-color: rgb(44, 44, 44);
}
.addNewForm {
  z-index: 1;
}
.green {
  color: rgb(0, 124, 21);
}
.checkicon {
  scale: 1.2;
  cursor: pointer;
}
.title {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 6px;
  margin-bottom: 4px;
}

.workTitleContainer {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#editIcn {
  cursor: pointer;

  scale: 1.1;
}
.icons {
  display: flex;
  gap: 1rem;
}
.descModel {
  font-size: 14px;
}
input{
  padding: 2px 5px ;
}
.formEdit {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: center;
  width: 350px;
  gap: 10px;
  padding: 15px 0;
}
#formEditALL {
  display: flex;
  flex-direction: column;

}
.inputEditText,
.inputEditDesc {
  font-size: 15px;
  font-weight: 500;
}
.crossIcon {
  height: 40px;
  cursor: pointer;
  scale: 1.5;
}
.iconOpenDesc {
}
.inputText,
.inputDesc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  top: -1.5px;
  left: 110%;
  margin-left: 5px;
  font-size: 8px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltipright {
  position: relative;
  display: inline-block;
}

.tooltipright .tooltiptextright {
  visibility: hidden;
  width: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  font-size: 12px;
  margin-right: 5px;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.tooltipright .tooltiptextright::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.tooltipright:hover .tooltiptextright {
  visibility: visible;
}
.tooltipleft {
  position: relative;
  display: inline-block;
}

.tooltipleft .tooltiptextleft {
  visibility: hidden;

  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  font-size: 12px;
  z-index: 1;
  top: -5px;
  margin-left: 5px;
  left: 110%;
}

.tooltipleft .tooltiptextleft::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltipleft:hover .tooltiptextleft {
  visibility: visible;
}
.AddTODOContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.addNewForm {
  border: 1px solid black;
  padding: 15px;
  margin: 15px;
}
.formEditContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
.submit {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 12px;
  width: 65px;
  transition: all 0.35s ease-in-out;
}
.submit:hover {
  background-color: rgb(44, 44, 44);
}
.unCompeletedTask {
  display: flex;
  flex-direction: column;
}
.workTodo {
  max-height: 70vh;
  min-width: 34vw;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
}
.tooltiptop {
  position: relative;
  display: inline-block;
}

.tooltiptop .tooltiptexttop {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptop .tooltiptexttop::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltiptop:hover .tooltiptexttop {
  visibility: visible;
}
